@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@400;500&display=swap');

.aboutus-page {
  font-family: 'Poppins', sans-serif;
  background-color: #000; 
  color: #fff;
}

/* Hero Section */
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 3rem 0;
}
.hero-img {
  max-width: 140%; 
  height: auto;
  border-radius: 5px;
  transform: scale(1.2); 
}

.hero-section .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.hero-title span {
  color: #f39c12; 
}

/* Section Titles */
.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white; 
  position: relative;
}
.section-title span {
  color: #f39c12; 
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #fff;
  margin: 12px 0 0 0; 
}

/* Section Text */
.section-text {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #fff;
}

.section-text strong {
  color: #f39c12; 
}

/* Founder Section */
.founder-section{
    background-color: #111;
}

.founder-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* Circular orange background */
.founder-circle {
  width: 400px;         
  height: 300px;        
  background-color: #f39c12; 
  border-radius: 50%;
  position: absolute;   
  bottom: 0;            
  z-index: 1;          
}

/* Founder image */
.founder-img {
  width: 200px;         
  height: auto;
  border-radius: 12px;  
  position: relative;
  z-index: 2;         
  margin-bottom: 10px; 
}

/* Vision Section */
.vision-section {
  background-color: black; 
  text-align: center;
}

.vision-card {
  border-radius: 12px;
  background: #000;
  border: 2px solid #f39c12;
  transition: all 0.3s ease;
  padding: 2rem;
}

.vision-card h5 {
  color: #fff;
  margin-top: 1rem;
  font-weight: 600;
}

/* Icons styling */
.vision-icon {
  font-size: 2.5rem;
  color: #f39c12;
  margin-bottom: 10px;
}

.vision-card:hover {
  background: #f39c12;
  color: #000;
}

.vision-card:hover .vision-icon {
  color: #000;
}



