/* PAGE BACKGROUND */
.work-scroll-page {
  width: 100%;
  padding: 80px 60px;
  box-sizing: border-box;
/*  background: url("/images/si.jpg") center / cover no-repeat fixed; */
  color: #fff;
}

/* WORK SECTION */
.work-scroll-item {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 50px;
  align-items: center;
  margin-bottom: 120px;
}

/* LEFT TEXT */
.work-scroll-info {
 padding: 10px 16px;
  color: #d28e01;
  border: 2px solid #d28e01;
  border-radius: 6px;
  
}
.work-scroll-info h2 {
  font-size: 2.4rem;
  color: #d28e01;
  margin-bottom: 20px;
}

.work-scroll-info p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: black;
}

/* MEDIA WRAPPER */
.work-scroll-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.media-frame {
  width: 100%;
  max-width: 500px;     
  aspect-ratio: 16 / 9; 
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* MEDIA ITSELF */
.media-frame img,
.media-frame video {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* BACK BUTTON */
.back-btn {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 100;
  padding: 10px 16px;
  background: white;
  color: #d28e01;
  border: 2px solid #d28e01;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.back-btn:hover {
  background: #d28e01;
  color: white;
}

/* MOBILE */
@media (max-width: 900px) {
  .work-scroll-page {
    padding: 60px 20px;
  }
.back-btn{
    top: 0px;
    left: 20px;
    }
  .work-scroll-item {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .work-scroll-media img,
  .work-scroll-media video {
    max-height: 300px;
  }
}
